body, html, main, div{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-weight: lighter;
    font-family: sans-serif;
    background-color: #F2F4F7;
}

main{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

.brand{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    width: 50%;
}

.brand_name{
    color: #0866ff;
}

.brand_description{
    font-weight: lighter;
}

.login_info {
    background-color: #FFFFFF;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    height: 30%;
    width: 50%;
}

.data, .brand  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.data {
    width: 40%;
}

.btn_login, .btn_signup{
    font-weight: bold;
    color: white;
    border: 0px;
}

.btn_login{
    background-color: #0866ff;
}

.btn_signup{
    background-color: #42b72a;
}

.forgotten_password {
    text-decoration: none;
    font-weight: lighter;
}

